<div class="jumbotron text-center">
  <h1> Mean Cards </h1>
  <p class="lead">Welcome to Mean Cards Toronto!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3> Rookie Cards </h3>
    <p> Top Rookie Cards from today's best NHL Players</p>
  </div>
  <div class="col-md-4">
    <h3> Autograph / Jersey Cards</h3>
    <p> Mint condition Auto/ Jersey/ Patch</p>
  </div>
  <div class="col-md-4">
    <h3> Graded Cards</h3>
    <p> Top graded cards</p>
  </div>
</div>
