
<div>
  <br><br><br>
  <h1> Mean Cards </h1>
  <p class="lead">Welcome to Mean Cards Toronto!</p>
  <div>
    <br>
    <a class="btn btn-lg btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-lg btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<br><br><br><br><br><br><br>
<div class="row">
  <div class="col-md-4">
    <h3> Rookie Cards </h3>
    <p>Top Rookie Cards</p>
    <img src="http://localhost:4200/lemieux.jpg" width="240px" height="336px"/>
  </div>
  <div class="col-md-4">
    <h3> Auto/Jersey/Patch</h3>
    <p>Flawless Auto Jersey Patch Cards</p>
    <img src="http://localhost:4200/howe.jpg" width="336px" height="240px"/>
  </div>
  <div class="col-md-4">
    <h3>Numbered Cards</h3>
    <p>Low Production Cards</p>
    <img src="http://localhost:4200/yzerman.jpg" width="336px" height="240px"/>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br>
  <div class="image">
    <p class="caption">Toronto Maple Leafs Last Stanley Cup in 1967</p>
  </div>
